@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    button {
        font-family: 'Montserrat', sans-serif !important;
        font-size: 16px !important;
        font-weight: 100 !important;
        letter-spacing: 1px !important;
        text-transform: uppercase !important;
    }

    button.default {
        border: 1px solid var(--pearl-blush);
        border-radius: 32px;
        min-height: 32px;
        padding-inline: 31px;
    }

    button.default:hover {
        background-color: var(--pearl-blush);
        color: var(--midnight-plum);
        outline: none;
    }

    button.text {
        background-color: unset;
        border: none;
        color: var(--mauve-mist);
    }

    button.text:hover,
    button.text:focus-visible {
        color: var(--pearl-blush);
        outline: none;
    }

    /* Text */
    .text__header {
        font-family: 'Playfair Display', serif;
    }

    .text__content {
        font-family: 'Montserrat', sans-serif;
        white-space: pre-wrap;
    }

    /* Input Text */
    .input--text:hover,
    .input--text:focus-within {
        outline: none;
        opacity: 1;
    }

    .circle {
        background-image: url('../../public/petal.svg');
        background-repeat: no-repeat;
        background-size: cover;
        filter: blur(20px);
        height: 82px;
        opacity: 0.5;
        width: 92px;
    }

    .text__container {
        margin: 0;
        color: var(--pearl-blush);
        font-size: 56px;
        font-weight: 700;
        letter-spacing: -3px;
        line-height: 1.2;
        position: relative;
    }

    section.section__container {
        align-items: center;
        background-color: transparent;
        display: flex;
        flex-direction: column;
        height: 100vh;
        margin-inline: auto;
        max-width: 500px;
        overflow: hidden;
        perspective: 500px;
        position: relative;
        scroll-snap-align: center;
        width: 100%;
        z-index: 20;
    }

    section.section__container > div.scroll__container {
        position: absolute;
        overflow: hidden;
        top: 0;
        bottom: 0;
        height: 20px;
        margin-block: auto;
        width: 20px;
    }

    section.section__container img.portrait__img {
        margin-inline: auto;
    }
}

@media screen and (min-width: 425px) {
    section.section__container img.portrait__img {
        height: auto;
        max-width: 317px;
        width: 100%;
    }

    /*      Hero    */
    section.section__container.hero {
        padding-top: 2.75rem;
        gap: 40px;
    }

    section.section__container.hero div.hero__header {
        gap: 2.25rem;
    }

    section.section__container.hero img {
        width: fit-content;
    }

    section.section__container.hero div.footer-image__container {
        justify-content: center;
    }

    /*    Image with text   */
    section.section__container.image-with-text {
        padding-top: 5rem;
    }

    /*  Assistance Form  */
    section.section__container.assistance-form {
        padding-top: 5rem;
    }

    section.section__container.assistance-form .divider__container {
        margin-block: 3rem;
    }

    section.section__container.assistance-form img.bottom-flowers {
        height: fit-content !important;
        width: fit-content !important;
    }

    /*  Directions  */
    section.section__container.directions {
        padding-top: 5rem;
        gap: 2.5rem;
    }

    section.section__container.directions .divider__container {
        margin-block: 30px;
    }

    section.section__container.directions .map {
        height: auto;
        width: 273px;
    }

    /*  Reminders   */
    section.section__container.reminders {
        padding-top: 70px;
    }

    section.section__container.reminders .divider__container {
        margin-block: 1.5rem;
    }

    section.section__container.reminders .reminders-list {
        gap: 1.5rem;
    }

    /*  Conclusion  */
    section.section__container.conclusion {
        padding-top: 70px;
    }

    section.section__container.conclusion img.logo {
        height: auto;
        width: 280px;
    }
}
