@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    /* Colors */
    --midnight-plum: #463047;
    --lavender-slate: #7c5a7b;
    --mauve-mist: #917492;
    --lilac-whisper: #c7aac8;
    --rose-quartz-mist: #efd5e0;
    --pearl-blush: #ddd2da;
}

body {
    color: var(--pearl-blush);
    background: var(--midnight-plum);
}

html, body, section {
    block-size: 100%;
}

html {
    scroll-snap-type: y mandatory;
}

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
}
